@font-face {
  font-family: 'LCARS Terminal';
  src: url('https://github.com/remixz/trekkie/raw/refs/heads/master/resources/fonts/LCARS.ttf') format('truetype') format('truetype');
}

body {
  background-color: #000000 !important;
  font-family: 'LCARS Terminal', 'Orbitron', 'Arial Black', sans-serif;
  color: #FF9900 !important;
}

/* Sidebar / Panel style */
.sidebarMainDrawer {
  background-color: #C79AE0 !important;
  border-radius: 0 25px 25px 0;
  padding: 20px 0;
  border-right: 4px solid #FFB800;
}

/* Navigation item colors */
.navMenuOption {
  background-color: #8DA6FF !important;
  color: #000 !important;
  border-radius: 20px 0 0 20px;
  margin: 5px 0;
}

/* Header bar */
.skinHeader {
  color: black !important;
  font-weight: bold;
  font-size: 1.1em;
  background-color: transparent !important;
}

.skinHeader:before {
  content: "";
  margin-bottom: -80px;
  position: relative !important;
  display: inline !important;
  background-color: #FF9900 !important;
  border-radius: 0 0 20px 20px;
  height: 80px !important;
}

/* Cards / Media Blocks */
.cardBox,
.cardBox.cardContent {
  background-color: #FFA640 !important;
  border-radius: 30px;
  overflow: hidden;
  border: 2px solid #FFB800;
}

.countIndicator,
.playedIndicator,
.fullSyncIndicator,
.mediaSourceIndicator {
  background-color: #FFA640 !important;
  color: black !important;
  margin-right: 10px;
  margin-top: 10px;
}

.cardText {
  color: black !important;
  font-weight: bold;
  text-align: center;
  padding: 5px;
}

/* Scrollbars */
::-webkit-scrollbar {
  width: 10px;
  background-color: #000;
}

::-webkit-scrollbar-thumb {
  background-color: #FF9900;
  border-radius: 10px;
}

/* Decorative segment bars (LCARS-style) */
.raised,
.button-flat {
  background-color: transparent;
  height: 30px;
  color: #000;
  margin: 10px 0;
  font-weight: bold;
}

/* LCARS numeric-style box */
.headerTabs.sectionTabs {
  background-color: transparent;
  color: white;
  font-weight: bold;
  padding: 10px;
  border-radius: 20px;
  margin: 5px 10px;
  text-align: center;
}

.emby-tab-button:hover {
  color: #FFA640 !important;
}

.headerTabs.sectionTabs {
   font-size: 15px;
}

/* Change Header Logo */
.pageTitleWithDefaultLogo {
  background-image: url('https://i.imgur.com/f3m7jul.png');
  z-index: 1000;
}

/* Improved Session Username */
.sessionUserName {
  color: white;
}

/* Improved Card Background */
.defaultCardBackground5 {
  background-color: #1b1b1b;
}

/* Improved Hover Button */
.paper-icon-button-light:hover:not(:disabled) {
  background-color: #1b1b1b96;
  color: white;
}

/* Remove Focus Issues */
:focus-visible {
  outline: 0px solid transparent !important;
  border: 0px solid transparent !important;
  box-shadow: none !important;
  -webkit-box-shadow: none !important;
}
